.actor__info {
  width: 100%;

  background-color: rgb(36, 36, 36);
}
.actor__info-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}
.actor__info-right {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  color: rgb(230, 230, 230);
}
.actor__info-right h2 {
  font-weight: normal;
  font-size: 20px;
}
.actor__info-right span {
  font-size: 20px;
  color: rgb(202, 202, 202);
}
@media only screen and (max-width: 700px) {
  .actor__info-wrapper {
    flex-direction: column;
  }
}
