.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 15px;
}

.bm-burger-bars {
  background: #2ecc71;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #2ecc71;
}

.bm-menu {
  background: #eeeeee;

  font-size: 1.15em;
  overflow-y: hidden !important;
}
.bm-menu {
  overflow: hidden !important;
}

.bm-morph-shape {
  fill: black;
}

.bm-item-list {
  padding-top: 100px;
  color: rgb(94, 94, 94);
}
.bm-item-list svg {
  margin-right: 1px;
}
.bm-item {
  color: black;
  padding-left: 25px;
  padding-bottom: 20px;
  width: 100%;
}
.bm-item:hover {
  color: #2ecc71;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.active {
  color: #2ecc71;
}
