.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 15px;
}

.bm-burger-bars {
  background: #3fc380;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #3fc380;
}

.bm-menu {
  background: #2e3131;

  font-size: 1.15em;
  overflow-y: hidden !important;
}
.bm-menu {
  overflow: hidden !important;
}

.bm-morph-shape {
  fill: black;
}

.bm-item-list {
  padding-top: 100px;
  color: black;
}
.bm-item-list svg {
  margin-right: 10px;
}
.bm-item {
  color: rgb(238, 238, 238);
  padding-left: 25px;
  padding-bottom: 20px;
  width: 100%;
}
.bm-item:hover {
  color: #3fc380;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.active {
  color: #3fc380;
}
