.cards-wrapper {
  width: 70%;
  margin: 0 auto;
}
.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-card-item {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 10px 20px 10px;
}

.movie-card-item .image-placeholder {
  background: rgb(209, 209, 209);
}
.movie-card-item .text {
  background: rgb(209, 209, 209);

  margin: 10px auto 0 auto;
}
.text-wrapper {
  position: absolute;
  padding: 5px 5px 10px 5px;
  bottom: 0;
  display: none;
}
.img-wrapper img {
  border-radius: 5px;
  object-fit: contain;
  transition: all 1s ease;
}

.text-wrapper h2 {
  color: #2ecc71;
  font-size: 16px;
  font-weight: normal;
}
.movie-card-item:hover img {
  filter: brightness(25%);
}

.movie-card-item:hover .movie-overview {
  display: block;
  opacity: 1;
}
.movie-card-item:hover .text-wrapper {
  display: block;
}
.text-wrapper p {
  font-size: 14px;
  color: rgb(236, 236, 236);
}

.text-wrapper p {
  margin-top: 5px;
}
.movie-rating {
  position: absolute;
  right: 0;
  color: white;
  background: #00000077;
  font-size: 15px;
}

.movies-header {
  margin: 15px 65px 15px 65px;
  display: flex;
  justify-content: space-between;
}
.movies-header h1 {
  font-weight: normal;
  font-size: 20px;
  color: rgb(214, 214, 214);
}
.movie-overview {
  margin: 15px;
  position: absolute;
  top: 0px;
  opacity: 0;
  display: none;
  color: #e6e6e6;
  font-size: 14px;
}

.load-more {
  margin: 15px;

  display: flex;
  justify-content: center;
}
.load-more button {
  outline: none;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  background: none;
  border: 2px solid #2ecc71;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.load-more button:hover {
  outline: none;
  background: #2ecc71;
  border: 2px solid #2ecc71;
  cursor: pointer;
  color: black;
}
@media (max-width: 1280px) {
  .cards-wrapper {
    width: 100%;
  }
}
